# EDA

## Importing the libraries

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

## Dataframes

In [4]:
airline_scrapped_review_clean_df = pd.read_csv('/kaggle/input/airline-scrapped-review-cleaned/AirlineScrappedReview_Cleaned.csv')

In [5]:
airline_scrapped_review_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3575 entries, 0 to 3574
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Passanger_Name   3574 non-null   object
 1   Flying_Date      955 non-null    object
 2   Route            2809 non-null   object
 3   Rating           3575 non-null   int64
 4   Verified         3575 non-null   object
 5   Review_title     3575 non-null   object
 6   Review_content   3575 non-null   object
 7   Traveller_Type   3575 non-null   object
 8   Class            3575 non-null   object
 9   Start_Location   2809 non-null   object
 10  End_Location     2809 non-null   object
 11  Layover_Route    484 non-null    object
 12  Start_Latitude   3515 non-null   float64
 13  Start_Longitude  3515 non-null   float64
 14  Start_Address    3515 non-null   object
 15  End_Latitude     3476 non-null   float64
 16  End_Longitude    3476 non-null   float64
 17  End_Address      3476 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 502.9+ KB

In [6]:
airline_scrapped_review_clean_df.describe()

,Rating,Start_Latitude,Start_Longitude,End_Latitude,End_Longitude
count,3575.000000,3515.000000,3515.000000,3476.000000,3476.000000
mean,4.790490,42.639473,-2.164986,40.550399,-1.118816
std,3.170323,17.022014,44.576587,18.723619,46.045735
min,1.000000,-37.666951,-123.182909,-37.814245,-123.179234
25%,2.000000,41.893320,-0.458780,39.739236,-0.458780
50%,4.000000,46.314475,-0.127765,46.314475,-0.127765
75%,8.000000,51.467739,11.048029,51.467739,11.048029
max,10.000000,65.011873,151.208285,64.145981,174.550610

In [7]:
airline_scrapped_review_clean_df.sample(5)

,Passanger_Name,Flying_Date,Route,Rating,Verified,Review_title,Review_content,Traveller_Type,Class,Start_Location,End_Location,Layover_Route,Start_Latitude,Start_Longitude,Start_Address,End_Latitude,End_Longitude,End_Address
628,John Prescott,NaN,Austin to London,8,Trip Verified,Another pleasant flight,Austin to London. Another pleasant flight on a...,Couple Leisure,Business Class,Austin,London,NaN,30.271129,-97.743700,"Austin, Travis County, Texas, United States",51.507446,-0.127765,"London, Greater London, England, United Kingdom"
2527,J Rodder,NaN,Bologna to Heathrow,3,Not Verified,clearly cost cutting now,British Airways is clearly cost cutting now an...,Solo Leisure,Economy Class,Bologna,London Heathrow,NaN,44.493820,11.342633,"Bologna, Emilia-Romagna, Italia",51.467739,-0.458780,"London Heathrow Airport, Northern Perimeter Ro..."
743,James Leonard,May 2019,Phoenix to Amsterdam via London,4,Trip Verified,cramped seat with no lights,Phoenix to Amsterdam via London. It was 10 hrs...,Couple Leisure,Economy Class,Phoenix,Amsterdam,London,33.448437,-112.074141,"Phoenix, Maricopa County, Arizona, United States",52.373080,4.892453,"Amsterdam, Noord-Holland, Nederland"
2734,N Sunder,NaN,ATL to LHR,7,Not Verified,British Airways customer review,"Both flights on time, aircraft appeared to be ...",Solo Leisure,Economy Class,Atlanta (GA) - Hartsfield Atlanta Internationa...,London Heathrow,NaN,33.637799,-84.429271,Hartsfield–Jackson Atlanta International Airpo...,51.467739,-0.458780,"London Heathrow Airport, Northern Perimeter Ro..."
2081,Samuel Shehu,October 2015,AMS to LGW,2,Not Verified,appalling service received,Verified Review Absolute appalling service r...,Solo Leisure,Economy Class,Amsterdam - Amsterdam Airport Schiphol,London Gatwick,NaN,52.326979,4.741505,"Luchthaven Schiphol, Badhoevedorp, Haarlemmerm...",51.154108,-0.182312,"London Gatwick Airport, Perimeter Road East, L..."