# EDA

## Importing the libraries

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt

## Dataframes

In [3]:
# when clean airline data gets released
# airline_scrapped_review_clean_df = pd.read_csv('/kaggle/input/airline-passangers-booking-data/AirlineScrappedReviewClean.csv')

customer_comment_df = pd.read_csv('/kaggle/input/airline-passangers-booking-data/Customer_comment.csv')
passanger_booking_data_df = pd.read_csv('/kaggle/input/airline-passangers-booking-data/Passanger_booking_data.csv')
survey_data_inflight_satisfaction_score_df = pd.read_csv('/kaggle/input/airline-passangers-booking-data/Survey data_Inflight Satisfaction Score.csv')

### Samalouty

In [4]:
customer_comment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9424 entries, 0 to 9423
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                9424 non-null   int64
 1   flight_number             9424 non-null   int64
 2   origin_station_code       9424 non-null   object
 3   destination_station_code  9424 non-null   object
 4   scheduled_departure_date  9424 non-null   object
 5   arrival_delay_group       9424 non-null   object
 6   departure_delay_group     9424 non-null   object
 7   entity                    9424 non-null   object
 8   verbatim_text             9424 non-null   object
 9   seat_factor_band          9424 non-null   object
 10  ques_verbatim_text        9424 non-null   object
 11  loyalty_program_level     6920 non-null   object
 12  fleet_type_description    9424 non-null   object
 13  fleet_usage               9424 non-null   object
 14  response_group            9424 non-null   object
 15  sentiments                9424 non-null   object
 16  transformed_text          8405 non-null   object
dtypes: int64(2), object(15)
memory usage: 1.2+ MB

In [5]:
customer_comment_df.describe()

        Unnamed: 0  flight_number
count  9424.000000    9424.000000
mean   4711.500000    1741.573430
std    2720.618802    1550.550037
min       0.000000       2.000000
25%    2355.750000     614.000000
50%    4711.500000    1286.000000
75%    7067.250000    2261.000000
max    9423.000000    6375.000000

In [6]:
customer_comment_df.sample(5)

,Unnamed: 0,flight_number,origin_station_code,destination_station_code,scheduled_departure_date,arrival_delay_group,departure_delay_group,entity,verbatim_text,seat_factor_band,ques_verbatim_text,loyalty_program_level,fleet_type_description,fleet_usage,response_group,sentiments,transformed_text
8802,8802,651,IAX,RSX,2022-09-22,Early & Ontime,Early & Ontime,Domestic,No. Beverage service/ food was adequate.,90+,Is there anything else you'd like to share abo...,non-elite,B737-700,Mainline,member,Neutral,beverag food adequ
3616,3616,5483,DEX,DTX,2022-09-10,Delayed,Delayed,Domestic,Bigger bags.,90+,Is there anything else you'd like to share abo...,non-elite,ERJ-175,Express,member,Neutral,bigger bag
1964,1964,673,DEX,IAX,2022-09-19,Early & Ontime,Early & Ontime,Domestic,No.,90+,Is there anything else you'd like to share abo...,premier platinum,B737-900,Mainline,member,Neutral,NaN
1512,1512,982,DUX,ORX,2022-09-06,Early & Ontime,Early & Ontime,Atlantic,"We thought since the flight was to Dublin, tha...",80+,Is there anything else you'd like to share abo...,NaN,B757-200,Mainline,non-member,Neutral,thought sinc flight dublin jameson type irish ...
4194,4194,598,EWX,LAX,2022-09-08,Early & Ontime,Early & Ontime,Domestic,Waffle was extremely sweet.,90+,Is there anything else you'd like to share abo...,non-elite,B737-900,Mainline,member,Neutral,waffl extrem sweet

## Abdelghani

In [7]:
passanger_booking_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50002 entries, 0 to 50001
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   num_passengers         50002 non-null  int64
 1   sales_channel          50002 non-null  object
 2   trip_type              50002 non-null  object
 3   purchase_lead          50002 non-null  int64
 4   length_of_stay         50002 non-null  int64
 5   flight_hour            50002 non-null  int64
 6   flight_day             50002 non-null  object
 7   route                  50002 non-null  object
 8   booking_origin         50002 non-null  object
 9   wants_extra_baggage    50002 non-null  int64
 10  wants_preferred_seat   50002 non-null  int64
 11  wants_in_flight_meals  50002 non-null  int64
 12  flight_duration        50002 non-null  float64
 13  booking_complete       50002 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.3+ MB

In [8]:
passanger_booking_data_df.describe()

,num_passengers,purchase_lead,length_of_stay,flight_hour,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
count,50002.000000,50002.000000,50002.000000,50002.000000,50002.000000,50002.000000,50002.000000,50002.000000,50002.000000
mean,1.591256,84.940582,23.044778,9.066277,0.668773,0.296968,0.427143,7.277524,0.149574
std,1.020167,90.450548,33.887171,5.412569,0.470659,0.456927,0.494668,1.496854,0.356657
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.670000,0.000000
25%,1.000000,21.000000,5.000000,5.000000,0.000000,0.000000,0.000000,5.620000,0.000000
50%,1.000000,51.000000,17.000000,9.000000,1.000000,0.000000,0.000000,7.570000,0.000000
75%,2.000000,115.000000,28.000000,13.000000,1.000000,1.000000,1.000000,8.830000,0.000000
max,9.000000,867.000000,778.000000,23.000000,1.000000,1.000000,1.000000,9.500000,1.000000

In [10]:
passanger_booking_data_df.sample(5)

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
33943,1,Internet,RoundTrip,6,4,13,Tue,MELTPE,Taiwan,1,1,1,8.83,0
36701,1,Internet,RoundTrip,67,5,1,Tue,DMKHND,Japan,1,1,0,7.57,0
3500,1,Internet,RoundTrip,125,20,9,Wed,CCUTPE,Taiwan,1,0,1,4.67,0
22260,1,Internet,RoundTrip,54,17,12,Sun,PEKPER,Australia,0,0,1,6.42,0
37879,1,Internet,RoundTrip,13,5,11,Thu,DPSSYD,Indonesia,1,0,0,8.58,1

## 7abashi

In [11]:
survey_data_inflight_satisfaction_score_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47074 entries, 0 to 47073
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   flight_number                     47074 non-null  int64
 1   origin_station_code               47074 non-null  object
 2   destination_station_code          47074 non-null  object
 3   record_locator                    47074 non-null  object
 4   scheduled_departure_date          47074 non-null  object
 5   question_text                     47074 non-null  object
 6   score                             47074 non-null  object
 7   satisfaction_type                 34963 non-null  object
 8   driver_sub_group1                 47074 non-null  object
 9   driver_sub_group2                 47074 non-null  object
 10  arrival_delay_minutes             47074 non-null  int64
 11  arrival_delay_group               47074 non-null  object
 12  cabin_code_desc                   47074 non-null  object
 13  cabin_name                        27094 non-null  object
 14  entity                            47071 non-null  object
 15  number_of_legs                    47074 non-null  int64
 16  seat_factor_band                  47074 non-null  object
 17  loyalty_program_level             35458 non-null  object
 18  generation                        47074 non-null  object
 19  fleet_type_description            47074 non-null  object
 20  fleet_usage                       47074 non-null  object
 21  equipment_type_code               47074 non-null  object
 22  ua_uax                            47074 non-null  object
 23  actual_flown_miles                47074 non-null  int64
 24  haul_type                         47074 non-null  object
 25  departure_gate                    46977 non-null  object
 26  arrival_gate                      46547 non-null  object
 27  international_domestic_indicator  47074 non-null  object
 28  response_group                    47074 non-null  object
 29  media_provider                    45535 non-null  object
 30  hub_spoke                         47074 non-null  object
dtypes: int64(4), object(27)
memory usage: 11.1+ MB

In [12]:
survey_data_inflight_satisfaction_score_df.describe()

,flight_number,arrival_delay_minutes,number_of_legs,actual_flown_miles
count,47074.000000,47074.000000,47074.000000,47074.000000
mean,1529.855207,-1.702490,1.344118,2477.737732
std,1456.712299,37.868177,0.502424,1865.646538
min,2.000000,-104.000000,1.000000,45.000000
25%,477.000000,-19.000000,1.000000,932.000000
50%,1050.000000,-9.000000,1.000000,1846.000000
75%,2060.000000,4.000000,2.000000,3870.000000
max,6376.000000,907.000000,3.000000,8440.000000

In [13]:
survey_data_inflight_satisfaction_score_df.sample(5)

,flight_number,origin_station_code,destination_station_code,record_locator,scheduled_departure_date,question_text,score,satisfaction_type,driver_sub_group1,driver_sub_group2,...,equipment_type_code,ua_uax,actual_flown_miles,haul_type,departure_gate,arrival_gate,international_domestic_indicator,response_group,media_provider,hub_spoke
2569,941,EWX,LHX,PJXXLQ,9/2/2022,What item did you choose?,beef entrée,NaN,food & beverage,comp,...,76L,UA,3466,Long,C128,211,International,member,PANASONIC,hub departure
1205,116,SFX,PPX,LBXXP7,9/1/2022,What item did you choose?,seafood entrée,NaN,food & beverage,comp,...,78P,UA,4188,Long,G4,2,International,member,PANASONIC,hub departure
17817,2185,MCX,EWX,MEXX73,9/12/2022,How satisfied were you with the food & beverag...,2,Dissatisfied,food & beverage,food and beverage satisfaction,...,73Y,UA,938,Medium,44,C107,Domestic,member,THALES,spoke departure
44674,213,ABX,DEX,DMXXX5,9/29/2022,How satisfied were you with the food & beverag...,5,Satisfied,food & beverage,food and beverage satisfaction,...,20S,UA,349,Short,A2,B17,Domestic,non-member,PANASONIC,spoke departure
31785,6,IAX,LHX,BDXXCP,9/20/2022,How satisfied were you with the food & beverag...,3,Dissatisfied,food & beverage,food and beverage satisfaction,...,78P,UA,4834,Long,E18,237,International,member,PANASONIC,hub departure

## Sa3Sa3

In [14]:
# wait till cleaned data arrives and do EDA on it